.login{
    background-color: rgb(188, 181, 187);
}
.homepage{
    background-image: url("../assets/ART0633-scaled.jpg");
    background-size:auto;
    background-position:bottom;
    height: calc(100vh - 390px);

}

footer{
    background-color: rgb(176, 197, 197);
    
    
}

.login-container{
    height: calc(100vh - 81px);
}
.posts-container{
    margin-top: 20rem;
}

.show-container{
    height: calc(100vh - 81px);
}