

.postList{
    background-color: whitesmoke;
    height: calc(100vh - 150px);

}

/* width */
::-webkit-scrollbar {
    width:5px;
    overflow-y: hidden;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}